4_game/.vs/
4_game/04_textures/.vs/
4_game/04_textures/Debug/04_textures.tlog/
4_game/04_textures/Debug/04_textures.exe
4_game/04_textures/Debug/04_textures.ilk
4_game/04_textures/Debug/04_textures.log
4_game/04_textures/Debug/04_textures.pdb
4_game/04_textures/Debug/gl_utils.obj
4_game/04_textures/Debug/main.obj
4_game/04_textures/Debug/main.obj.enc
4_game/04_textures/Debug/maths_funcs.obj
4_game/04_textures/Debug/stb_image.obj
4_game/04_textures/Debug/vc141.idb
4_game/04_textures/Debug/vc141.pdb

1/a/.vs/
1/a/src/.vs/
1/a/src/Debug/app.tlog/
1/a/src/Debug/app.exe
1/a/src/Debug/app.ilk
1/a/src/Debug/app.log
1/a/src/Debug/app.pdb
1/a/src/Debug/gl_utils.obj
1/a/src/Debug/main.obj
1/a/src/Debug/main.obj.enc
1/a/src/Debug/maths_funcs.obj
1/a/src/Debug/stb_image.obj
1/a/src/Debug/vc141.idb
1/a/src/Debug/vc141.pdb


1/b/.vs/
1/b/src/.vs/
1/b/src/Debug/app.tlog/
1/b/src/Debug/app.exe
1/b/src/Debug/app.ilk
1/b/src/Debug/app.log
1/b/src/Debug/app.pdb
1/b/src/Debug/gl_utils.obj
1/b/src/Debug/main.obj
1/b/src/Debug/main.obj.enc
1/b/src/Debug/maths_funcs.obj
1/b/src/Debug/stb_image.obj
1/b/src/Debug/vc141.idb
1/b/src/Debug/vc141.pdb


1/c/.vs/
1/c/src/.vs/
1/c/src/Debug/app.tlog/
1/c/src/Debug/app.exe
1/c/src/Debug/app.ilk
1/c/src/Debug/app.log
1/c/src/Debug/app.pdb
1/c/src/Debug/gl_utils.obj
1/c/src/Debug/main.obj
1/c/src/Debug/main.obj.enc
1/c/src/Debug/maths_funcs.obj
1/c/src/Debug/stb_image.obj
1/c/src/Debug/vc141.idb
1/c/src/Debug/vc141.pdb
1/c/src/app.sln