4_game/.vs/
4_game/04_textures/.vs/
4_game/04_textures/Debug/04_textures.tlog/
4_game/04_textures/Debug/04_textures.exe
4_game/04_textures/Debug/04_textures.ilk
4_game/04_textures/Debug/04_textures.log
4_game/04_textures/Debug/04_textures.pdb
4_game/04_textures/Debug/gl_utils.obj
4_game/04_textures/Debug/main.obj
4_game/04_textures/Debug/main.obj.enc
4_game/04_textures/Debug/maths_funcs.obj
4_game/04_textures/Debug/stb_image.obj
4_game/04_textures/Debug/vc141.idb
4_game/04_textures/Debug/vc141.pdb